.container-about{
    margin-top: 100px;
}

.about-p {
    text-align: justify;
    line-height: 1.8;
    direction: rtl;
    word-spacing: -1px;
    display: inline-block;
  }
  .about-p::after {
    content: '|';
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }