.imgContainer {
    width: 97%;
    position: relative;
    height: auto;
    margin: 20px;
    overflow: hidden;
  }
  .img-full {
    width: 98%;
    height: auto;
    position: relative;
    margin: 10px;
    object-fit: cover;
    display: block;
  }
  .img-full img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.7s ease;
  }
  .img-full img:hover {
    transform: scale(1.1);
  }
  .img-full:hover .caption{
    color: #000;
  }
  .imgThree4 {
    width: 20%;
    height: auto;
    padding: 5px;
    display: inline-block;
    position: relative;
    object-fit: cover;
    gap: 5px;
    
  }
  .imgThree4:hover img{
      transform: scale(1.1);
  }
  .img-row {
    text-align: center;
    padding: 0 10px;
  }
  .imgThree4 img {
    width: 100%;
    height: auto;
    padding: 5px;
    transition: all 0.8s ease;
  }
  .caption {
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 5px;
    background-color: #fff;
    color: #777;
  }
  .imgThree4:hover .caption{
    color: #000;
  }
  @media (max-width:600px) {
    .imgContainer{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0 ;
      margin: 0;
    }
    .imgThree4{
      width: 100%;
    }
    .imgThree4 img{
      width: 100%;
    }
  }
  @media (max-width:800px) {
    .imgContainer{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0 ;
      margin: 0;
    }
    .imgThree4{
      width: 50%;
    }
    .imgThree4 img{
      width: 100%;
    }
  }
  